
<div id="shop-container"></div>

<script id="Shop" type="text/x-handlebars-template">
    <div class="shop">
        {{#each sections}}
            <div class="section">
                <h2>{{title}}</h2>
                <div class="cards">
                    {{#each items}}
                        <div class="card">
                            <img src="{{image}}" alt="{{title}}" />
                            <h3>{{title}}</h3>
                            <p>{{description}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</script>

    {{!-- <script src="../../index.js"></script> --}}
